<%- include('header.ejs') %>

<section class="home-page-4-container">
    <section class="home-page-4">
        <h1>Who are we? You.</h1>
        <h2>We are students just like you all. We all want a Batch Party which will be some memorable moments for us. We want to give you a great experience of a batch party. We gave out suggestion forms becuase it won't be fair to other students and our friends that one person decides for all.</h2>
        <h1>Thank You.</h1>
    </section>
</section>

<section class="memories">
    <h1>Memories Our Seniors Created</h1>
    

    <div class="marquee-container-2">
        <marquee  direction="left" scrollamount = "7">
            <div class="photo-container-20">
                <div class="card-2"></div>
                <div class="card-2"></div>
                <div class="card-2"></div>
                <div class="card-2"></div>
            </div>
        </marquee>
    </div>

    <h1 class = "hold">Memories They are Gonna hold onto for Life.</h1>
</section>



<%- include('footer.ejs') %>