<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/images/fav.png">
    <link rel="stylesheet" href = "/stylesheets/register-style.css">
    <link rel="stylesheet" href="/stylesheets/me.css">
    <link rel="stylesheet" href="/stylesheets/you.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title>DBMS Batch Party 2021</title>
</head>

<body>
    <div class="desktop-text" id = "warning">
        <div>Only For Phone</div>
        <div class = "warning-para">If in Landscape > Rotate and Refresh</div>
    </div>
    <section class="whole" id = "whole">
    <nav class = "navbar" id = "navbar">
        <div class="display-container">

            <div class="bar-icon" onclick="showNavLinks()" id = "bar-icon"></div>
            <button class="register-btn"><a href = "/register">Register</a></button>

        </div>

        <div class="nav-links" id ="navLinks">
            <ul>
                <li><a href = "/">Home</a></li>
                <li><a href = "/schedule">Schedule</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </div>
    </nav>

   