<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            padding : 0 ; 
            margin : 0 ; 
            box-sizing: border-box;
        }
        .image {
            height: 100vh ;
            width: 100% ;
            display : flex ; 
            padding : 22% ; 
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-image: url('/images/last2.png');
            background-position: center;
            background-size: cover;
            font-family: 'Roboto' , sans-serif;
            color : white ; 
        } 

        button a {
            text-decoration: none;
            color : white ; 
        }
        button {
            padding : 8% 30% ; 
            outline : none ; 
            background-color: indigo;
            border: none ;
            font-size: 18px;
            font-weight: 500;
            border-radius: 16px ;
        }
    </style>    
    <title>Message Sent</title>
</head>
<body>
    <div class="image">
        <h1>Registered.</h1>
        <button><a href="/">Go Home</a></button>
    </div>
</body>
</html>