<%- include('header.ejs') %> 

<section class="home-page-2" id = "home-page">    
    <section class="register-home">
        <h1>Loved? Register.</h1>
    </section>
    <section class="box-btn-area">
        <button class="open-btn" onclick="opened()">Open</button>
    </section>
</section>

<form action = "https://formcarry.com/s/8aSU597_p4g" method = "post" class="form-area" id = "form-area">
    <section class="formSection one">
        <div class="inside">
            <input type="text" name="name" id="first" class = "first" placeholder="Name" required>
            <input type="number" name="number" id="first" class = "first" placeholder="Number" required>
            <input type="email" name="email" id="first" class = "first" placeholder="Email">

        </div>
    </section>
    
    <section class="formSection submit">
        <input type="submit" value="submit" class = "submit-btn">
    </section>
</form>


<%- include('footer.ejs') %>