<%- include('header.ejs') %>


<section class="home-page-container">
    <section class="home-page-3">
        <h1>Be Prepared.</h1>
    </section>
</section>

<section class="people">
    <div class="person">
        <div class="person-name">5:30 PM</div>
        <div class="person-position">Pupils arriving time</div>
    </div>
    <div class="person">
        <div class="person-name"><span>6:30 PM</span></div>
        <div class="person-position">DJ will blast the Music</div>
    </div>
    <div class="person">
        <div class="person-name"><span class = "span-second">7:30 PM</span></div>
        <div class="person-position" >Dinner will be served</div>
    </div>
    <div class="person">
        <div class="person-name" ><span class = "span-third">9:30 PM</span></div>
        <div class="person-position">Excuting Time for All</div>
    </div>
</section>

<section class="venue-section">
    <a href="https://www.google.com/maps/place/The+Sonnet,+Jamshedpur/@22.798717,86.179546,15z/data=!4m8!3m7!1s0x0:0xda4b289698ef666b!5m2!4m1!1i2!8m2!3d22.798717!4d86.179546">
        <div class="venue-box">
            <h2>Sonnet Rooftop</h2>
        </div>
    </a>
</section>

<%- include('footer.ejs') %>