<%- include('header.ejs') %>


<section class="home-page-container">
    <section class="home-page-3">
        <h1>Be Prepared.</h1>
    </section>
</section>

<section class="people">
    <div class="person">
        <div class="person-name">5:30 PM</div>
        <div class="person-position">Pupils arriving time</div>
    </div>
    <div class="person">
        <div class="person-name"><span>6:30 PM</span></div>
        <div class="person-position">DJ will blast the Music</div>
    </div>
    <div class="person">
        <div class="person-name"><span class = "span-second">7:30 PM</span></div>
        <div class="person-position" >Dinner will be served</div>
    </div>
    <div class="person">
        <div class="person-name" ><span class = "span-third">9:30 PM</span></div>
        <div class="person-position">Excuting Time for All</div>
    </div>
</section>

<%- include('footer.ejs') %>