* {
    padding : 0 ; 
    margin : 0 ; 
    box-sizing: border-box;
}

.home-page-4 {
    height : 86vh ; 
    width : 100% ; 
    display : flex ; 
    flex-direction: column ;
    align-items: center;
    justify-content: center ;
    font-family: 'Roboto' , sans-serif;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

    font-weight: 600;
    color : #2f0b4d ;
    padding : 6% ;  
    border-radius : 0 0 20px 20px ; 
}

.home-page-4 h1 {
    width: 100% ;
    font-size: 34px ;
    margin : 5% ;
    margin-left : 10% ; 
    text-align: start;
}


.fake-nav {
    position: fixed ;
    height: 8vh ;
    width : 100% ;
    background-color: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(16px);
}

.home-page-4 h2 {
    font-size : 20px ; 
    margin : 3% ; 
    font-weight: 550;
    margin-top : 18% ;
    margin-bottom : 18% ;  
    word-spacing: 2px;
}

.home-page-4-container {
    height : 100vh ; 
}

.memories {
    height : 80vh ; 
    width : 100% ;      
    display : flex ; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.marquee-container-2 {
    height: 36vh ;
    width : 100% ; 
    overflow : hidden ;
}

.photo-container-20 {
    height : 100% ;
    height: 36vh ; 
    width : max-content ; 
    display: flex;
}

.card-2 {
    height: 30vh;
    width : 420px ; 
    border-radius: 20px ;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-right : 2% ; 
    background-size : cover;
    background-position: center;
}

.memories h1 {
    font-family: 'Roboto' , sans-serif;
    margin-bottom: 4%;
    padding : 4% ; 
    word-spacing: 4px ;
    color : #2f0b4d ; 
    text-align: center;
    font-size: 32px ;
}


.memories .hold {
    font-size : 30px ; 
}

.card-2:nth-child(1) {
    background-image: url('/images/group-1.jpg');
}


.card-2:nth-child(2) {
    background-image: url('/images/group-2.jpg');
}

.card-2:nth-child(3) {
    background-image: url('/images/group-3.jpg');
}

.card-2:nth-child(4) {
    background-image: url('/images/group-4.jpg');
}


.contact-now-007 {
    height: 16vh ;
    display : flex ; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width : 100% ; 
    border-radius : 16px 16px 0 0 ; 
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); 
}

.contact-now-007 h2 {
    color : #2f0b4d ; 
    font-family: 'Roboto' , sans-serif;
}
